@import url('https://fonts.googleapis.com/css?family=Muli ');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  color:hsl(9, 37%, 7%);
  background: linear-gradient(120deg, hsl(288, 43%, 16%), hsl(187, 73%, 51%));
  color: #fff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
}
.container{
  padding: 20px 40px;
  border-radius: 10px;
  background: linear-gradient(120deg, rgb(66, 32, 75), #154183);
}
.container h1 {
  text-align: center;
  margin-bottom: 30px;
}
.container a {
  text-decoration: none;
  color: slateblue;
}
.form-controll{
  width: 300px;
  margin: 20px 0px 40px;
  position: relative;
}
.form-controll input{
 background-color: transparent;
 border: 0;
 border-bottom: 1.5px #fff solid;
 display: block;
 width: 100%;
 padding: 15px 0;
 font-size: 20px;
 color: #fff;
}
.form-controll input:focus,
.form-controll input:valid{
  outline: 0;
  border-bottom-color: aqua;
}

.btn{
  display: inline-block;
  background: lightblue;
  padding: 14px ;
  font-family: inherit;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}
.btn:focus{
  outline: 0;
}
.btn:active{
  transform: scale(.88);
}
.text{
  margin-top: 35px;
}

.form-controll label{
  position: absolute;
  top: 15px;
  left:0;
}

.form-controll label span{
  display: inline-block;
  font-size: 20px;
  min-width: 5px;
  transition: transform .5s cubic-bezier(.7, -.6, .3 , 1.65);
}

.form-controll input:focus + label span,
.form-controll input:valid + label span{
  color: aqua;
  transform: translateY(-35px);
} 

